html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title TUTUM
  body
    form(action='/signup', method='post')
      p
        |아이디:
        input(type='text', name='id')
      p
        |비밀번호:
        input(type='password', name='password')
      p
        |이름:
        input(type='text', name='name')
      p
        |연락처:
        input(type='text', name='phoneNo1', size='4')
        |-
        input(type='text', name='phoneNo2', size='4')
        | -
        input(type='text', name='phoneNo3', size='4')
      p
        |이메일:
        input(type='text', name='email')
      p
        input(type='submit', value='가입하기')
