html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title TUTUM
  body
    p
      form(action='/track' method='post')
        select(name='companyCode')
          each company in companies
            option(value=company.code)= company.name
        input(type='text', name='invoiceNo', placeholder='운송장 번호')
        input(type='submit', value='조회')
